In [1]:
import pandas as pd
df = pd.read_csv("measurements_poverty.csv")
df.set_index("Index",  inplace=True)
df.head()

,Inhabitants,Percent with incomes below $5000,Percent unemployed,Murders per annum per million inhabitants
Index,,,,
1,587000,16.5,6.2,11.2
2,643000,20.5,6.4,13.4
3,635000,26.3,9.3,40.7
4,692000,16.5,5.3,5.3
5,1248000,19.2,7.3,24.8

In [2]:
corr = df.corr(method ='pearson')
corr

,Inhabitants,Percent with incomes below $5000,Percent unemployed,Murders per annum per million inhabitants
Inhabitants,1.000000,-0.163780,-0.233406,-0.067098
Percent with incomes below $5000,-0.163780,1.000000,0.815418,0.839778
Percent unemployed,-0.233406,0.815418,1.000000,0.864841
Murders per annum per million inhabitants,-0.067098,0.839778,0.864841,1.000000

In [3]:
corr.style.background_gradient(cmap='coolwarm')